<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    Welcome, Home

    <div th:unless="${username}">
        <a href="/loginPage">Login</a>
    </div>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>


    <div th:if="${username}">
        <a href="/logout">Logout</a>
        <h1>Hello, <span th:text="${username}"></span></h1>

        <p th:text="${header}"></p>
        <p th:text="${payload}"></p>

        <a href="/updateToken">Update Token</a><br>
        <a href="/validateToken?addToToken=">Validate Token</a><br>
    </div>


</body>
</html>