<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h3>Welcome Home</h3>

    <div sec:authorize="isAuthenticated()">
        <h5>Hello, <span th:text="${username}"></span></h5>
        <p>You are logged in!</p>
        <form name="logoutForm" th:href="@{/logout}">
            <button class="logout100-form-btn" type="submit" value="Log out">Log Out</button>
        </form>
    </div>

</body>
</html>